{{!--

  Citation for the following module:
  // Date: 3/16/2024
  // Adapted from the amazing work that has gone into the starter app resource
  // Contributors include George Kochera, Dr. Michael Curry and Prof. Danielle M. Safonte
  // Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app

--}}



{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>



{{!-- Employees Heading and Navigation Bar --}}
<header><h1>Employees</h1></header>
<nav>
      <a href="/">Home</a>
        |
      <a href="employees">Employees</a>
        |  
      <a href="locations">Locations</a>
        |  
      <a href="employees_locations">Employees by Location</a>
        |  
      <a href="location_inventory">Location Inventory</a>
        |  
      <a href="products">Products</a>
        |  
      <a href="customers">Customers</a>
        |  
      <a href="sales">Sales</a>
        | 
      <a href="products_in_sales">Products in Sales</a> 
</nav>
<br></br>



{{!-- Create Employees Table --}}
<table id="employees-table">
    {{!-- Header Section --}}
    <thead>
        <tr>
            <th>Delete</th>
            <th>Employee ID</th>
            <th>Employee Nametag</th>
            <th>Employee Phone</th>
        </tr>
    </thead>

    {{!-- Body Section --}}
    <tbody>
        {{#each data}}
        <tr data-value={{this.employee_id}}>
            <td><button onclick="deleteEmployee({{this.employee_id}})">Delete</button></td>
            <td>{{this.employee_id}}</td>
            <td>{{this.employee_nametag}}</td>
            <td>{{this.employee_phone}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
<link rel="stylesheet" href="./css/style.css">
<script src="./js/delete_employee.js"></script>



{{!-- Form to add an employee record to the table --}}
<h2>Add Employee</h2>
<p>To add a new employee, enter their information below and click 'Submit'!</p>
<form id="add-employee-form-ajax">
    <label for="input-employee_nametag-add">Employee Nametag: </label>
    <input type="text" name="input-employee_nametag" id="input-employee_nametag">
    
    <label for="input-employee_phone-add">Employee Phone: </label>
    <input type="text" name="input-employee_phone" id="input-employee_phone" required>

    <input type="submit">
</form>
<script src="./js/add_employee.js"></script>



{{!-- Form to update an employee's information --}}
<h2>Update Employee</h2>
<p>Select an employee from the drop down menu, input new information, and click 'Submit'!</p>
<form id="update-employee-form-ajax">
    <label for="input-employee_nametag-update">Employee Nametag: </label>
    <select name="input-employee_nametag-update" id="employee-select" required>
        <option value="test">Select an Employee</option>
        {{#each data}}
        <option value="{{this.employee_id}}">{{this.employee_nametag}}</option>
        {{/each}}
    </select>

    <label for="input-employee_nametag-update">Employee Nametag: </label>
    <input type="text" name="input-employee_nametag-update" id="input-employee_nametag-update">

    <label for="input-employee_phone-update">Employee Phone: </label>
    <input type="number" name="input-employee_phone-update" id="input-employee_phone-update" required>
    <input type="submit">
</form>
<script src="./js/update_employee.js"></script>



{{!-- Form to search an employee from table --}}
<h2>Search Employee</h2>
<p>Search by an employee's nametag using the search bar and click 'Submit'!</p>
<form id="search-employee-html" method='GET' action='/employees'>
    <label for="input-employee_nametag-search">Search by Employee Name: </label>
    <input type="text" name="employeeNametagSearch" id="input-employee_nametag-html-search">

    <input type="submit">
    <a href='/employees'><button>Reset</button></a>
</form>