{{!--

  Citation for the following module:
  // Date: 3/16/2024
  // Adapted from the amazing work that has gone into the starter app resource
  // Contributors include George Kochera, Dr. Michael Curry and Prof. Danielle M. Safonte
  // Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app

--}}



{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>



{{!-- Locations Heading and Navigation Bar --}}
<header><h1>Locations</h1></header>
<nav>
      <a href="/">Home</a>
        |
      <a href="employees">Employees</a>
        |  
      <a href="locations">Locations</a>
        |  
      <a href="employees_locations">Employees by Location</a>
        |  
      <a href="location_inventory">Location Inventory</a>
        |  
      <a href="products">Products</a>
        |  
      <a href="customers">Customers</a>
        |  
      <a href="sales">Sales</a>
        | 
      <a href="products_in_sales">Products in Sales</a> 
</nav>
<br></br>



{{!-- Create Locations Table --}}
<table id="locations-table">
    {{!-- Header Section --}}
    <thead>
        <tr>
            <th>delete</th>
            <th>Location Number</th>
            <th>Wares Capacity</th>
            <th>Address Line</th>
            <th>City</th>
            <th>Postal Code</th>
            <th>Phone</th>
        </tr>
    </thead>

    {{!-- Body Section --}}
    <tbody>
        {{#each data}}
        <tr data-value={{this.location_id}}>
            <td><button onclick="deleteLocation({{this.location_id}})">Delete</button></td>
            <td>{{this.location_id}}</td>
            <td>{{this.wares_capacity}}</td>
            <td>{{this.address_line}}</td>
            <td>{{this.city}}</td>
            <td>{{this.postal_code}}</td>
            <td>{{this.site_phone}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
<link rel="stylesheet" href="./css/style.css">
<script src="./js/delete_location.js"></script>



{{!-- Form to add a location record to the table  --}}
<h2>Add Location</h2>
<p>To add a new location, please enter their information below and click 'Submit'!</p>
<form id="add-location-form-ajax">
    <label for="input-wares">Wares Capacity: </label>
    <input type="text" name="input-wares" id="input-wares" required>
    
    <label for="input-address">Address: </label>
    <input type="text" name="input-address" id="input-address" required>

    <label for="input-city">City: </label>
    <input type="text" name="input-city" id="input-city" required>

    <label for="input-postal">Postal Code: </label>
    <input type="text" name="input-postal" id="input-postal" required>

    <label for="input-site-phone">Site Phone: </label>
    <input type="text" name="input-site-phone" id="input-site-phone" required>

    <input type="submit">
</form>
<script src="./js/add_location.js"></script>



{{!-- Form to update a locations's information --}}
<h2>Update Location</h2>
<p>To update a specific Location select its address from the drop-down menu on the left and fill in the fields.</p>
<form id="update-location-form-ajax">

    <label for="input-location">Full name: </label>
    <select name="input-location" id="location-select">
        <option value="test">Select a Location</option>
        {{#each data}}
        <option value="{{this.location_id}}">{{this.address_line}} {{this.city}}</option>
        {{/each}}
    </select>

    <label for="update-wares">Wares Capacity: </label>
    <input type="text" name="update-wares" id="update-wares" required>
    
    <label for="update-address">Address: </label>
    <input type="text" name="update-address" id="update-address" required>

    <label for="update-city">City: </label>
    <input type="text" name="update-city" id="update-city" required>

    <label for="update-postal">Postal Code: </label>
    <input type="text" name="update-postal" id="update-postal" required>

    <label for="update-site-phone">Site Phone: </label>
    <input type="text" name="update-site-phone" id="update-site-phone" required>

    <input type="submit">
</form>
<script src="./js/update_location.js"></script>