{{!--

  Citation for the following module:
  // Date: 3/16/2024
  // Adapted from the amazing work that has gone into the starter app resource
  // Contributors include George Kochera, Dr. Michael Curry and Prof. Danielle M. Safonte
  // Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app

--}}



{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>



{{!-- Location Inventory Heading and Navigation bar --}}
<header><h1>Location Inventory</h1></header>
<nav>
      <a href="/">Home</a>
        |
      <a href="employees">Employees</a>
        |  
      <a href="locations">Locations</a>
        |  
      <a href="employees_locations">Employees by Location</a>
        |  
      <a href="location_inventory">Location Inventory</a>
        |  
      <a href="products">Products</a>
        |  
      <a href="customers">Customers</a>
        |  
      <a href="sales">Sales</a>
        | 
      <a href="products_in_sales">Products in Sales</a> 
</nav>
<br></br>



{{!-- Create Location Inventory Table --}}
<table id="location_inventory-table">
    {{!-- Header Section --}}
    <thead>
        <tr>
            <th>Delete</th>
            <th>Location</th>
            <th>Product</th>
        </tr>
    </thead>

    {{!-- Body Section --}}
    <tbody>
        {{#each data}}
        <tr data-value={{this.plid}}>
            <td><button onclick="deleteLocationInventory({{this.plid}})">Delete</button></td>
            <td>{{this.address_line}}</td>
            <td>{{this.label}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
<link rel="stylesheet" href="./css/style.css">
<script src="./js/delete_location_inventory.js"></script>





{{!-- Form to add a record to the table  --}}
<h2>Add Product to Location Inventory</h2>
<p>To add a product to a location inventory, select the options from the two drop down menus and click 'Submit'!</p>
<form id="add-location_inventory-form-ajax">
    <select name="input-location" id="input-location">
        <option value="">Select a Location</option>
        {{#each locations}}
        <option value="{{this.location_id}}">{{this.address_line}}</option>
        {{/each}}
    </select> 

    <select name="input-product" id="input-product">
        <option value="">Select a Product</option>
        {{#each products}}
        <option value="{{this.product_id}}">{{this.label}}</option>
        {{/each}}
    </select>

    <input type="submit">
</form>
<script src="./js/add_location_inventory.js"></script>